[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none; }

body {
  font-size: 1em; }

#cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white; }

#userInfo {
  float: right;
  padding: 8px; }

#alertBox {
  position: fixed;
  min-width: 75%;
  left: 50%;
  margin: 0 0 0 -37.5%;
  top: 5px; }

.fa.fa-twitter {
  color: #00A7E7; }

.fa.fa-facebook-square {
  color: #3662A0; }

.fa.fa-google-plus-square {
  color: #D74634; }

.fade-hide-setup, .fade-show-setup {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.fade-hide-setup {
  opacity: 1; }

.fade-hide-setup.fade-hide-start {
  opacity: 0; }

.fade-show-setup {
  opacity: 0; }

.fade-show-setup.fade-show-start {
  opacity: 1; }

/* Pinterest Style Layout */
#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto; }

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto; }

.pin {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px; }

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0; }

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; } }
@media (min-width: 1100px) {
  #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5; } }
#columns:hover .pin:not(:hover) {
  opacity: 0.4; }

/* Close Pinterest Style Layout */

/*# sourceMappingURL=app.css.map */
