.container
  form.navbar-form.navbar-left(ng-submit="search()", name="searchForm", role='search')
    .form-group
        input.form-control(type='text',data-ng-model="searchterm", name="searchterm", placeholder='Search')
      button.btn.btn-default(type='submit') Submit
//
  .container
    div
      ul
        li(data-ng-repeat="book in books")
        div(data-ng-repeat="asin in book.ASIN") {{asin}}

.container
  #wrapper
    #columns
        .pin(data-ng-repeat="book in books")
          img(data-ng-repeat="img in book.LargeImage", src='{{img.URL[0]}}')
          p(data-ng-repeat="title in book.ItemAttributes") {{ title.Title[0] }}


